@import "./app.var.style";

.containersCustom {
    padding-left: $CONTAINER_CUSTOM_PADDING_LEFT;
    padding-right: $CONTAINER_CUSTOM_PADDING_RIGHT;
}

.view-enter {
   animation: fadeIn 0.5s both ease-in;
   z-index: 9999;
 }
